<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Recommendation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo">Article Recommendation System</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Hi, {{contex.user}}</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>


<br>
<h2>Find Related Articles</h2>
<div class="container">
    <form action="/recommendedarticles" method="POST">
        <textarea style="width:90% ; height:400px; font-size:18px" name="abstract_text" placeholder="Please Insert Your Abstract"></textarea>
        <br>
        <input class="btn waves-effect blue waves-light" type="submit" name="submit" value="Submit">
    </form>
</div>
</body>
</html>